.work-experience-section {
    margin-top: 30px;
    padding: 10px;
    z-index: -1;
    color: black;
}

.tech-skills p{
    background-color: black;
    border-radius: 90px;
    padding:5px;
    text-align: center;
    /* width: 100px; */
    margin: 5px;
}

.tech-skills p:hover{
    background-color: tomato;
    color: black;
    transition-duration: 0.2s;
}

.work-experience-line{
    margin-bottom: 10px;
}

.date-class {
    font-weight: bold; /* Make the date text bold */
    color: white; /* Set the color of the date text */
    
  }

.vertical-timeline-element a{
    color: #f7e30d; /* Blue color for links */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make the text bold */
    font-style: italic;
  }
  .vertical-timeline-element {
    color: white; /* Blue color for links */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make the text bold */
    font-style: italic;
  }

  .vertical-timeline-element-title{
    color: black;
  }
  .vertical-timeline-element-subtitle{
    color: rgb(64, 51, 51);
    font-style: italic;
  }
  .vertical-timeline-element-description{
    color: black;
  }
  
  .dark-mode .vertical-timeline-element-title{
    color: white;
  }
  .dark-mode .vertical-timeline-element-subtitle{
    color: rgb(243, 200, 200);
  }
  .dark-mode .vertical-timeline-element-description{
    color: white;
  }