
.about-paragraph a{
    color: #f7e30d; 
    text-decoration: none; 
    font-weight: bold; 
    font-style: italic;
}

.about-section {
  box-shadow: 12px 10px 10px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 12px 10px 10px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 12px 10px 10px -1px rgba(0, 0, 0, 0.75);
  margin-top: 10px;
  padding-right: 50px;
  background-color: rgb(123, 123, 180);
  border-radius: 20px;
}

.dark-mode .about-section {
  background-color: rgb(62, 19, 115);
}

.about-row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.about-image {
  height: 180px;
  width: 180px;
  display: flex;
  margin-top: 50px;
  border-radius: 50%; 
  margin: 0 auto;
  overflow: hidden; 
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  border: 3px solid #d5f003;
  
}

.dark-mode .about-details h5,
.dark-mode .about-details p {
  color: white;
}

.about-title h5{
    text-align:center;
}
.line{
    display: block;
    width: 70px;
    height: 3px;
    margin: 1px auto;
    background-color: yellowgreen;
}
