.techstack-section {
  margin-top: 40px;
}

.section-title h5 {
  text-align: center;
}

.tech-content {
  -webkit-box-shadow: 10px 10px 5px -2px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 10px 10px 5px -2px rgba(0, 0, 0, 0.46);
  box-shadow: 10px 10px 5px -2px rgba(0, 0, 0, 0.46);
  background-color: rgb(86, 171, 143);
  height: 150px;
  border-radius: 5%;
  margin-top: 10px;
}

.dark-mode .tech-content {
  -webkit-box-shadow: 10px 10px 5px -2px rgba(103, 98, 98, 0.46);
  -moz-box-shadow: 10px 10px 5px -2px rgba(107, 94, 94, 0.46);
  box-shadow: 10px 10px 5px -2px rgba(86, 81, 81, 0.46);
  background-color: rgb(77, 38, 132);
  height: 150px;
  border-radius: 5%;
  margin-top: 10px;
}
.tech-content-marked {
    background-color: rgb(192, 49, 44);
}

.dark-mode .tech-content-marked {
  background-color: rgb(37, 10, 83);
}

.tech-content p {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tech-content:hover {
  background-color: rgb(136, 186, 34);
  color: black;
  transition-duration: 0.7s;
  -webkit-box-shadow: -7px 10px 5px -2px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: -7px 10px 5px -2px rgba(0, 0, 0, 0.46);
  box-shadow: -7px 10px 5px -2px rgba(0, 0, 0, 0.46);
}

.dark-mode .tech-content:hover {
  background-color: rgb(57, 34, 186);
  color: white;
  transition-duration: 0.7s;
  -webkit-box-shadow: -7px 10px 5px -2px rgba(227, 209, 209, 0.46);
  -moz-box-shadow: -7px 10px 5px -2px rgba(160, 147, 147, 0.46);
  box-shadow: -7px 10px 5px -2px rgba(139, 125, 125, 0.46);
}

.tech-row {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.tech-num {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  color: white;
  text-align: center;
  display: block;
  margin: 0 auto;
  line-height: 50px;
}

.load-more-tech-stack {
  background-color: rgb(24, 122, 208);
  width: 100px;
  padding: 10px;
  color: rgb(21, 19, 19);
  text-align: center;
  justify-content: center;
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}
.load-more-tech-stack:hover {
  background-color: rgb(220, 148, 16);
  transition-duration: 0.5s;
}

.dark-mode .techstack-section{
  color: white;
}
