.contact-section {
  margin-bottom: 20px;
  margin-top: 5px;
  /* margin-left: 95px; */
  -webkit-box-shadow: 10px 10px 5px -2px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 10px 10px 5px -2px rgba(0, 0, 0, 0.46);
  box-shadow: 10px 10px 5px -2px rgba(0, 0, 0, 0.46);
}

.dark-mode .contact-section {
  color: white;
}


.contact-form-image{
    display: flex;
    justify-content: center;
}

.contact-form-image img {
  max-height: 100%;
  border-radius: 5%;
  margin-top: 20px;
  max-width: 100%;
  margin-bottom: 20px;
  display: flex;
}



.contact-form input {
  height: 50px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.button-submit button {
  background-color: black;
  padding: 10px;
  border-radius: 30px;
  width: 50%;
  text-align: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-submit p:hover {
  background-color: rgb(37, 105, 164);
  color: white;
  border: 1px solid rgb(14, 37, 58);
  transition-duration: 0.3s;
}

.contact-form-design{
    margin-bottom: 100px;
}
.contact-me-header{
    font-weight: 700;
    font-size:x-large;
    text-align: center;
    margin-top: 15px;
}

.contact-row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 100px;
}

.input-field{
    background-color: rgb(200, 189, 189);
}

.dark-mode .input-field{
    background-color: rgb(37, 10, 83);
    color: white;
}
