@media screen and (min-width: 700px) {
  .mobile-view-navbar {
    display: none;
  }
}

.mobile-view-navbar {
  width: 100%;
  background-color: rgba(180, 29, 29, 0.5);
  color: white;
  position: fixed;
  top: 0; 
  left: 0; 
  z-index: 1000;
}

.mobile-view-navbar p{
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
  }


