.sidebar-section{
    display:flex;
    /* background-color: rgb(43, 40, 40); */
    
}

.sidebar{
    height: 100vh;
    background-color: rgb(200, 83, 83);
    width: 95px;
    position: fixed;
}

.sidebar-expand{
    width: 230px;
}

/* need to move the arrow to the right side */
.icon-for-sidebar-expand-and-collapse{
   display: flex;
   align-items: right;
   justify-content: right;
   cursor: pointer;
}

.icon-for-sidebar-expand-and-collapse p svg{
    background-color: black;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-top: 50px;
}


/* bs class .container-fluid comes with padding so need to reduce it */
.container-fluid{
    padding-left: 0px!important;
    padding-right: 0px!important;
    overflow: hidden;
}