/* .sidebar-profile-pic{
    height: 120px;
    width: 120px;
    display: flex;
    margin-top: 10px;
    border-radius: 90px; 
    vertical-align: middle;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 3px solid #d5f003;
} */

.sidebar-profile-pic {
    height: 120px;
    width: 120px;
    display: flex;
    margin-top: 20px;
    border-radius: 50%; /* Use 50% to create a circular border */
    margin: 0 auto;
    overflow: hidden; /* Hide any image overflow that might interfere with border radius */
  }
  
  .sidebar-profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 100%; 
    border: 3px solid #d5f003;
  }

.navbar-items ul li{
    color: white ;
    list-style-type: none;
    cursor:pointer;
    margin-top: 30px;
    font-size: small;
}

/* .navbar-items ul li svg {
    margin-left: -10px; 
    margin-right: 15px;
}


.navbar-items-only-icons ul li svg {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
} */
/* there is an issue with the npm react-scroll package. spy={true} does not work, and it creates problems (active class not being applied) when trying to apply active class manually. */
/* cannot get it to work with spy, it took the prop "className", so was able to add "active" for click highlighting. */
.nav-item .active {
    border-left: 2px solid rgb(233, 249, 4);
    padding-left: 5px; /* Adjust this value to move the border further to the left */
    color: yellow;
  }

  .navbar-items ul li a {
    text-decoration: none;
  }

  

  
