.sidebar-section{
    display: flex;
    background-color: aliceblue;
}

.sidebar{
    height: 100vh;
    background-color: rgb(69, 61, 61);
    width: 95px;
    transition: transform 0.5s ease; /* Use transform for width change */
    top: fixed;
    bottom: fixed;
    right: fixed;
    left: fixed;
}

.sidebar-expand{
    width: 300px;
}

.icon-for-sidebar-expand-and-collapse{
   display: flex;
   align-items: right;
   justify-content: right;
   cursor: pointer;
}

.icon-for-sidebar-expand-and-collapse p svg{
    background-color: rgb(170, 206, 12);
    padding: 5px;
    color: white;
    border-radius: 5px;
    margin-top: 50px;
}

.container-fluid{
    padding-left: 0px!important;
    padding-right: 0px!important;
    overflow: hidden;

}