.sidebar-profile-pic {
  height: 90px;
  width: 90px;
  display: flex;
  margin-top: 20px;
  border-radius: 50%; /* Use 50% to create a circular border */
  margin: 0 auto;
  overflow: hidden; /* Hide any image overflow that might interfere with border radius */
}

.sidebar-profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  border: 3px solid #d5f003;
}

.navbar-items ul li {
  color: white;
  list-style-type: none;
  cursor: pointer;
  margin-top: 30px;
  font-size: small;
}

.nav-item .active {
  border-left: 2px solid rgb(233, 249, 4);
  padding-left: 5px; /* Adjust this value to move the border further to the left */
  color: yellow;
}

.navbar-items ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.nav-item {
  z-index: 1000;
}

.dark-mode .navbar-items ul li a {
  color: rgb(244, 247, 242);
}

.dark-mode .nav-item .active {
  color: yellow;
}
